* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 30px 1px rgba(31, 139, 182, 0.904);
    margin-bottom: 50px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 12px;
}

header ul li a {
    transition: 500ms;
}

header ul li a:hover {
    color: goldenrod;
    text-decoration: underline;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.box{
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 15px;
    width: 50%;    
}

fieldset{
    border: 3px solid dodgerblue;
    padding: 15px;
}

legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    
}

#submit:hover{   
    background-image: linear-gradient(to right,rgb(0, 92, 197),rgb(233, 248, 15));
    font-weight: 1000;
}